@font-face {
    font-family: 'SourceSansProBold';
    src: url('fonts/SourceSansProBold.eot');
    src: url('fonts/SourceSansProBold.eot') format('embedded-opentype'),
         url('fonts/SourceSansProBold.woff2') format('woff2'),
         url('fonts/SourceSansProBold.woff') format('woff'),
         url('fonts/SourceSansProBold.ttf') format('truetype'),
         url('fonts/SourceSansProBold.svg#SourceSansProBold') format('svg');
}
